$purple-color : #6c6ff8;
$orange-color : #ffb649;
$actionA-color : #fd5725;
$actionB-color : #ff9924;
$animalA-color : #fcff3e;
$animalB-color : #54ff3e;
$clothes-color : #3efff5;
$emotions-color : #3e98ff;
$fruit-color : #3e5bff;
$transport-color : #a83eff;
$statistics-color : #8c00ff;
$menu-color : #ffc165;
$active-link-color : #0056b3